
<h1><center>About the app</center></h1>
<body>
  <p><center>Welcome to my demo app for CA02! This app allows you to input any text, and have ChatGPT spit it back to you in sonnet style + iambic pentameter.</center></p>
</body>
</html>