
    <h1>CS103a App</h1>
    <p class="text-danger">Welcome to the App</p>
    <a href="prompt"> 
        input text</a>
        <br>
    <a href="about">
        about</a>
        <br>
    <a href="team">
        team</a>
        <br>

  
    
  
