<html>
    <h1><center>The Team</center></h1>
    <body>
        <p><center>(just me on this one) My name is Simon Goode, and I'm a sophomore majoring in Mathematics and Economics. I enjoy singing with my a cappella group and hitting the gym!</center></p>
    </body>
</html>